{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>{{ plant_data.scientific_name }}</h1>
    <p>Common Name: {{ plant_data.common_name }}</p>
    <p>Description: {{ plant_data.description }}</p>
    <p>Wikepedia Link: {{ plant_data.wikipedia_link }}</p>
    <p>{{ plant_data.common_name }}, or by its scientific name, {{ plant_data.scientific_name }}, is a small flowering plant with fuzzy leaves, often blooms indoors year-round. {{ plant_data.common_name }} should be watered once in every 7 days, and should be in a temperature of around 18°C to 27°C (64°F to 80°F). In these conditions, {{ plant_data.common_name }} are well suited and thrive well.</p>
    <div class="card">
        <h3>Watering Intervals</h3>
        <p>Watering once every:</p>
        <h1>{{ plant_data.water_interval_days }}</h1>
        <p>This is how often you should water. However the system will remind you when to water next.</p>
    </div>
    <div class="card">
        <h3>Temperature Range</h3>
        <p>Temperature range between:</p>
        <h1>{{ plant_data.min_temp_celsius }} - {{ plant_data.max_temp_celsius }}</h1>
        <p>This is how often you should water. However the system will remind you when to water next.</p>
    </div>
{% endblock %}